/*!* Header Style Start *!*/
/*#header_wrapper {*/
/*    background: linear-gradient(90deg, rgba(58, 76, 180, 1) 0%, rgba(253, 29, 29, 1) 100%);*/
/*}*/

/*#header_wrapper nav {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin: 0 50px 0 50px;*/
/*}*/

/*.left_top_menu a {*/
/*    font-size: 18px;*/
/*    color: #fff;*/
/*}*/

/*.left_top_menu {*/
/*    display: flex;*/
/*}*/


/*.right_top_menu_current_title {*/
/*    font-size: 18px;*/
/*    color: #fff;*/
/*}*/

/*!* Header Style End *!*/


/* Header Style Start */
body {
    /*padding: 0;*/
    margin: 0;
}

#header_wrapper {
    width: 100%;
    height: auto;
    /*border: 1px solid black;*/
}

/* Top Menu Style Start*/
#nav_bar_top_menu {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(58, 76, 180, 1) 0%, rgba(253, 29, 29, 1) 100%);

}

.left_top_menu {
    display: flex;
    margin: 0 50px 0 20px;

}

.left_top_menu ul li {
    list-style-type: none;
}

.menu_link {
    max-width: 16px;
    color: #fff;
    text-decoration: none;
}


.right_top_menu_current_title {
    font-size: 16px;
    color: #fff;
}

.right_top_menu {
    /*margin-top: 15px;*/
    color: #fff;
    margin: 15px 60px 0 0;
}

.right_top_menu_current_title {
    background: rgba(255, 255, 255, .15);
    border-radius: 35%;
    line-height: 20px;
    padding: 7px 10px;
}

/* Top Menu Style End*/


/* Top Menu Item Style Start*/
#nav_bar_search_wrapper_header {
    display: flex;
    margin: 20px 50px 0 50px;
    /*border: solid 1px black;*/
}

#nav_bar_search_wrapper_header ul li {
    list-style-type: none;
}

.img_logo img {
    max-height: 45px;

}

.img_logo a {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.nav_bar_item_menu ul {
    padding: 0;
}

.nav_bar_item_menu a {
    max-width: 16px;
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.img_logo {
    flex: 1;
    /*-webkit-user-modify: read-write-plaintext-only;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.nav_bar_item_menu {
    flex: 5;
    display: flex;
}

.social_item_menu {
    display: flex;
}

.social_item_menu a {
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 13px;
}

.social_item_menu img {
    max-height: 24px;
    margin-top: 7px;
}

/* Top Menu Item Style End*/


/* Img Header Style Start  */


/* Img Header Style End  */
#header_img {
    /*border: 1px solid black;*/
    width: 100%;
    height: 150px;
    position: relative;
    margin-top: 20px;
}

#header_img img {
    width: 100%;
    height: 200px;
    background-position: 50%;
}

.header_img_text h3 {
    font-size: 35px;
    margin: 0px 0px 0px 0px;
    color: #fff;
    float: left;
    width: 100%;
    text-align: center;
    text-transform: capitalize;

}

.header_img_text p {
    font-size: 24px;
    margin: 0px 0px 0px 0px;
    color: #fff;
    float: left;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-family: Lato;
    font-weight: 400
}

.header_img_photo {
    position: relative;
}

.header_img_text {
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 100%;
}

/* Header Style End */

/*//////////////////////////////////////////////////////////////////////*/

/* Section  Style Start */

#section {
    padding: 10px;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.section_slider {
    /*border: 1px solid black;*/
    flex: 1.7;
}

.section_sidebar {
    /*border: 1px solid black;*/
    flex: 1;

}

/* Section Figure Style Start */

.section_figure {
    /*border: 1px solid black;*/
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-around;
    flex-wrap: wrap;
}

.figure_img {
    position: relative;
    /*width: 300px;*/
    /*height: 238px;*/
    /*border-radius: 7%;*/
}

.shop_img {
    width: 300px;
    height: 238px;
    border-radius: 7%;
}

.figure_img_business {
    position: absolute;
    border-radius: 21%;
    /* border: 1px solid black; */
    background: #0015ff;
    padding: 4px;
    margin: 0px;
    top: 20px;
    left: 20px;
}

.figure_img_business a {
    color: #fff;
    text-decoration: none;

}

/*.figure_img_business a {*/
/*    display: flex;*/
/*    color: #fff;*/
/*    font-size: 13px;*/
/*    justify-content: center;*/
/*}*/


.section_figure figure figcaption {
    width: 280px;
    color: #000;
    font-size: 22px;
    font-weight: bold;
}

.post_meta a, .post_date {
    text-decoration: none;
    color: #818181;
}


.post_meta .user_img img {
    width: 30px;
    height: 30px;
}

.post_date img {
    width: 30px;
    height: 30px;
}

/* Section Figure Style End */


/* Section Sidebar Style Start */

.section_sidebar {
    /*border: solid 1px black;*/
}


/*Section Sidebar Social Style Start*/
.section_sidebar_social {
    /*border: solid 1px black;*/
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    justify-content: space-between;
}

.section_sidebar_social_img {
    /*border: 1px solid gainsboro;*/
    display: flex;
    flex-flow: column;
    flex-basis: 24.5%;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    margin-top: 4px;
}


.section_sidebar_social_img a img {
    width: 34px;
    height: 34px;
}

.items {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.items .count {
    display: block;
    font-size: 13px;
    line-height: 1.2;
    margin: 5px 0 0;
    padding: 0;
    font-weight: 600;
}

.items .label {
    display: block;
    font-size: 15px;
    line-height: 1.2;
    margin: 5px 0 0;
    padding: 0;
}

/*Section Sidebar Social Style End*/

/*Section Sidebar Category Style Start*/
.section_sidebar_category {
    /*border: solid 1px black;*/
    width: 100%;
    margin-top: 72px;
}

.section_sidebar_category .section_sidebar_category_act_bus_cra {
    /*border: solid 1px black;*/
    border-radius: 10%;
    margin-top: 10px;
    width: 100%;
    height: 80px;
}

.section_sidebar_category_act_bus_cra img {
    position: absolute;
    width: 36.3%;
    height: 80px;
    border-radius: 5%;
}

.section_sidebar_category_act_bus_cra_text {
    position: relative;
    left: 0;
    top: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.section_sidebar_category_act_bus_cra_text a {
    text-decoration: none;
    color: #f8f9fa;
}

.section_sidebar_category_act_bus_cra_number {
    /*border: 1px solid black;*/
    border-radius: 42%;
    background-color: #f8f9fa;
    padding: 4px 10px 4px 10px;
}

.section_sidebar_category_act_bus_cra_number span {
    color: #818181;
}

/*Section Sidebar Category Style End*/

/*Section Sidebar Recent Post Style Start*/
.section_sidebar_recent_post {
    /*border: solid 1px black;*/
    margin-top: 54px;
    margin-left: 20px;
}

.section_sidebar_recent_post_title {
    width: 100%;
    font-size: 32px;
    padding-bottom: 20px;
    margin: 0px 0px 25px 0px;
    border-bottom: 1px solid #E2E3E7;
    font-family: system-ui;
}

.section_sidebar_recent_post_tech_act {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 34px;
}

.section_sidebar_recent_post_techno_info {
    flex: 4;
}

.section_sidebar_recent_post_tech_act_img {
    flex: 3;
}

.section_sidebar_recent_post_techno_info_title a {
    text-decoration: none;
}

.section_sidebar_title {
    /*border: 1px solid;*/
    color: #fff;
    padding: 8px;
    border-radius: 24%;
    background-color: red;
    font-size: 11px;
    font-family: monospace;
}

.section_sidebar_recent_post_techno_info_description {
    margin-top: 25px;
}

.section_sidebar_recent_post_techno_info_description span {
    font-family: system-ui;
}

/*Section Sidebar Recent Post Style End*/

/*Section Sidebar Slider Style Start*/
.section_sidebar_slider {
    /*border: solid 1px black;*/
    margin-top: 50px;
}

.section_sidebar_slider_img img {
    /*border: 1px solid;*/
    width: 100%;
    height: 350px;
    background-color: #818181;
    border-radius: 5%;
}
.section_sidebar_slider_img {
    position: relative;

}

.section_sidebar_slider_info {
    display: flex;
    position: absolute;
    padding: 4px;
    margin: 0px;
    top: 20px;
    left: 20px;
}

.section_sidebar_slider_text {
    align-self: flex-end;
}

.section_sidebar_slider_prev_next {
    display: flex;
    margin-left: 294px;
}

.section_sidebar_slider_prev_next img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.next {
    margin-left: 10px;
}

.section_sidebar_slider_text {
    position: absolute;
    padding: 4px;
    margin: 178px 0 0 58px;
    top: 20px;
}


.section_sidebar_slider_text_title h3 {
    color: #f8f9fa;
}

.section_sidebar_slider_text_icon img {
    width: 30px;
    height: 30px;
}
/*Section Sidebar Slider Style End*/

/* Section Sidebar Style End */


/* Section  Style End */









/* Footer  Style Start */
#footer_container {
    border: 1px solid black;
    background-color: black;
}
/*Footer Columns Style Start*/

.footer_text {
    color: #fff;
}

.footer_text_about {
    color: #818181;
    font-family: Lato;
    font-weight: 400;
    line-height: 22px;
}


.about_1_img {
    margin-top: 42px
}
.about_1_img img {
    width: 44px;
    height: 44px;
}

.footer_columns {
    border: 1px solid black;
    height: auto;
    margin: 20px 50px 0 50px;
}



.container {
    display: flex;
    justify-content: space-between;
}

.col_1 {
    border: 1px solid black;
    height: 394px;
    width: 372px;
}

.categories_info_1 {
    width: 100%;
    font-size: 12px;
    padding-bottom: 4px;
    margin: 0px 0px 25px 0px;
    border-bottom: 1px solid #E2E3E7;
    font-family: system-ui;
    display: flex;
    justify-content: space-between;
}


.categories_info_1_number {
    border: solid 1px black;
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    line-height: 21px;
    text-align: center;
    font-size: 13px;
    margin-top: 0;
}

/*.categories_1 h3 {*/
/*    color: #fff;*/
/*}*/

.act_num {
    background-color: red;
}

.categories_info_1_text {
    color: #fff;
}

.bus_num {
    background-color: chocolate;
}
.cra_num {
    background-color: dodgerblue;
}
.game_num {
    background-color: yellow;
}
.hea_num {
    background-color: green;
}
.aci_num {
    background-color: salmon;
}

/*Footer Columns Style End*/

.hr {
    border-bottom: 1px solid #E2E3E7;
}

/*Footer Copyright Style Start*/

.footer_copyright {
    border: 1px solid black;
    height: auto;
    margin: 20px 50px 0 50px;
}

.foo_copy {
    display: flex;
    justify-content: space-between;
}
.foo_copy_text {
    margin-top: 10px;
}

.footer_text_about {
    display: flex;
    padding: 10px;
}

.foo_copy_menu ul li {
    list-style-type: none;
}
.footer_text_about a {
    text-decoration: none;
    color: #818181;
    padding: 10px;
}

/*Footer Copyright Style End*/


/* Section  Style End */

